.heroSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.titleContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.titleContainer div {
  transform: translate(-370px, 10px);
}

.titleContainer h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 4px;
}

.heroImageWrapper {
  position: relative;
  left: 200px;
  height: 100%;
  width: 100%;
}

@media (max-width: 1440px) {
  .titleContainer div {
    transform: translate(calc(-140px - 15vw), calc(35vw - 500px));
  }
}

@media (max-width: 1100px) {
  .heroSection {
    height: 75vh;
  }

  .titleContainer h1 {
    font-size: 3.8rem;
  }

  .titleContainer div {
    transform: translate(calc(-140px - 15vw), calc(35vw - 380px));
  }
}

@media (max-width: 800px) {
  .heroSection {
    height: 50vh;
  }

  .heroImageWrapper {
    top: 100px;
    left: 20vw;
    height: 600px;
    width: 600px;
  }

  .heroImage {
    min-width: auto !important;
    max-width: none !important;
    min-height: auto !important;
    height: 600px !important;
    width: 600px !important;
  }

  .titleContainer h1 {
    font-size: 3.5rem;
  }

  .titleContainer div {
    transform: translate(-210px, -100px);
  }
}

@media (max-width: 625px) {
  .titleContainer div {
    transform: translate(-33vw, -100px);
  }
}

@media (max-width: 575px) {
  .titleContainer h1 {
    font-size: 3.2rem;
  }

  .heroImageWrapper {
    left: 20px;
    top: 0;
    width: 100%;
    height: 500px;
    width: 500px;
  }

  .titleContainer div {
    position: absolute;
    left: 175px;
    transform: translate(-150px, -40px);
  }
}

.aboutSection {
  padding-top: 100px;
  padding-bottom: 200px;
}

.aboutSection h2 {
  font-size: 2.8rem;
  text-align: center;
}

.aboutSection p {
  max-width: 700px;
  font-size: 1.8rem;
  line-height: 1.35;
  text-align: center;
  margin: auto;
  padding: 15px;
}

.artistSection {
  padding-top: 30px;
  padding-bottom: 100px;
}

.artistSection h2 {
  font-size: 2.8rem;
  text-align: center;
}

.searchContainer {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 30px;
}

.inputCol {
  position: relative;
  margin-top: 40px;
}

.customInputWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.artistCardsContainer {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  min-height: 100vh;
}

.artistOrderContainer {
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.artistOrderContainer button {
  height: 100%;
}

.leftBtn {
  width: calc(50% - 15px);
}

.rightBtn {
  float: right;
  width: calc(50% - 15px);
}

.footer {
  min-height: 25vh;
  position: relative;
}

.creditContainer {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;
}

.creditContainer p {
  margin: 0;
}

.creditContainer a {
  text-decoration: underline;
}

.creditContainer a:hover {
  color: white;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .artistCardsContainer {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media (max-width: 915px) {
  .searchContainer {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  .artistOrderContainer {
    position: inherit;
  }
}

@media (max-width: 615px) {
  .artistCardsContainer {
    grid-template-columns: minmax(0, 1fr);
  }

  .artistOrderContainer {
    margin-top: 35px;
  }

  .searchContainer {
    grid-template-columns: minmax(0, 1fr);
  }
}
