.heroSection {
  background: lightblue;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection h1 {
  font-size: 4rem;
  text-align: center;
}

.artistSection {
  padding-top: 30px;
  padding-bottom: 30px;
  background: lightgray;
}

.artistSection h2 {
  font-size: 2.8rem;
  text-align: center;
}

.searchContainer {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 30px;
}

.formGroup {
  position: relative;
  display: inline-block;
  width: 100%;
}

.formField {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(14, 14, 14);
  outline: 0;
  font-size: 1.3rem;
  color: #11998e;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.formLabel {
  position: absolute;
  top: 7px;
  left: 5px;
  display: block;
  transition: 0.2s;
  font-size: 1.2rem;
  color: rgb(14, 14, 14);
}

.formField:focus + .formLabel {
  position: absolute;
  top: -13px;
  left: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.9rem;
  color: #11998e;
  font-weight: 700;
}

.formField:valid + .formLabel {
  top: -13px;
  left: 0;
  font-size: 0.9rem;
  color: #11998e;
  font-weight: 700;
}

.formField:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.formField:valid {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.artistCardsContainer {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  min-height: 100vh;
}

.artistOrderContainer {
  height: 40px;
}

.artistOrderContainer button {
  height: 100%;
}

.leftBtn {
  width: calc(50% - 15px);
}

.rightBtn {
  float: right;
  width: calc(50% - 15px);
}

@media (max-width: 1000px) {
  .artistCardsContainer {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media (max-width: 575px) {
  .artistCardsContainer {
    grid-template-columns: minmax(0, 1fr);
  }
}
