@import './Variables.scss';

.inputWrapper {
  min-height: 40px;
}

.formGroup {
  position: relative;
  width: 100%;
}

.formField {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $lightColor;
  outline: 0;
  font-size: 1.3rem;
  color: $lightColor;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &:focus {
    @include input-focused();
  }

  &:focus + .formLabel {
    @include form-label-focused();
    position: absolute;
    display: block;
    transition: 0.2s;
  }

  &:valid {
    @include input-focused();
  }

  &:valid + .formLabel {
    @include form-label-focused();
  }
}

.formLabel {
  position: absolute;
  top: 7px;
  left: 5px;
  display: block;
  transition: 0.2s;
  font-size: 1.2rem;
  color: $lightColor;
}
