@import './Variables.scss';

.heroSection {
  height: auto;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.heroImageWrapper {
  height: 800px;
  width: 800px;
  margin: auto;
  position: relative;
  left: 200px;
}

.titleContainer {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 64px;
  top: 300px;

  div {
    display: inline-block;
    text-align: left;
    transform: translateX(-175px);
  }

  h1 {
    margin-top: 0;
    margin-bottom: 4px;
  }
}

@media (max-width: 815px) {
  .heroSection {
    min-height: auto;
  }

  .heroImageWrapper {
    height: 600px;
    width: 600px;
    left: 150px;
  }

  .titleContainer {
    top: 225px;
    font-size: 48px;

    div {
      transform: translateX(-131px);
    }
  }
}

@media (max-width: 615px) {
  .heroImageWrapper {
    height: 400px;
    width: 400px;
    left: 100px;
  }

  .titleContainer {
    top: 150px;
    font-size: 32px;

    div {
      transform: translateX(-87px);
    }
  }
}

@media (max-width: 400px) {
  .heroImageWrapper {
    height: 350px;
    width: 350px;
    left: 87px;
  }

  .titleContainer {
    top: 131px;
    font-size: 28px;

    div {
      transform: translateX(-76px);
    }
  }
}

.aboutSection {
  padding-top: 100px;
  padding-bottom: 200px;

  h2 {
    @include secondary-title();
  }

  p {
    max-width: 700px;
    font-size: 1.8rem;
    line-height: 1.35;
    text-align: center;
    margin: auto;
    padding: 15px;
  }
}

.artistSection {
  padding-top: 30px;
  padding-bottom: 100px;

  h2 {
    @include secondary-title();
  }
}

.searchContainer {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 30px;
}

.inputCol {
  position: relative;
  margin-top: 40px;
}

.customInputWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.artistCardsContainer {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  min-height: 100vh;
}

.artistOrderContainer {
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;

  button {
    height: 100%;
  }
}

.leftBtn {
  width: calc(50% - 15px);
}

.rightBtn {
  float: right;
  width: calc(50% - 15px);
}

.footer {
  min-height: 25vh;
  position: relative;
}

.creditContainer {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    color: white;
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  .artistCardsContainer {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media (max-width: 915px) {
  .searchContainer {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  .artistOrderContainer {
    position: inherit;
  }
}

@media (max-width: 615px) {
  .artistCardsContainer {
    grid-template-columns: minmax(0, 1fr);
  }

  .artistOrderContainer {
    margin-top: 35px;
  }

  .searchContainer {
    grid-template-columns: minmax(0, 1fr);
  }
}
